@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .AdminNavBar {
    @apply w-[100%] min-h-[60px] z-10 flex flex-col transition-[height] overflow-hidden !important;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-and-webkit-prefixes: none;
  font-family: "Roboto", sans-serif;
}

/* styled-scrollbar-dark */
.styled-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2d404b;
}

.styled-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* styled-scrollbar-light */

.styled-scrollbar-light::-webkit-scrollbar {
  width: 4px;
}

.styled-scrollbar-light::-webkit-scrollbar-thumb {
  background-color: slategray;
}

.styled-scrollbar-light {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* To remove arrow from number input */
/* Chrome, Safari, Edge, Opera */
.noArrow::-webkit-outer-spin-button,
.noArrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.noArrow[type=number] {
  -moz-appearance: textfield;
}
